body{
    background-image: url(./light-blue-grunge-texture-9.jpg);
    border: 15px groove yellowgreen;
    margin: 0px;
}
.flex-conatiner{
    display: flex; 
}

    /* border-color: lightgreen;
    border-width: 5px;
    border-style: solid;
    margin: 0px;
    background-color: azure;
    width: auto;
    height: 500px;
    align-content: space-between;
    background-color: dodgerblue;
    padding: 2rem;
    display: flex;
    height: 60vh;
    display: inline-flex;
    flex-direction: row;
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: center;
    justify-content: first baseline;
    justify-content: center;
    align-items: center;
*/

.item1{
    border-width: 5px;
    border-style: solid;
    border-color: rgb(248, 15, 15);
    margin: 5px;
    background-color: black;
    border-radius: 50px;
    color: white;
    font-style: italic;
    font-size: 35px;
    text-align: center;
    width: 600px;
    height: 150px;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
    padding-top: 20px;
}

.item2{
    border-width: 5px;
    border-style: solid;
    border-color: rgb(248, 15, 15);
    margin: 5px;
    background-color: black;
    border-radius: 50px;
    color: white;
    font-style: italic;
    font-size: 35px;
    text-align: center;
    width: 800px;
    height: 70px;
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    position: relative;
    top: 10px;
    left: -150px;
    
}

.item3{
    border-width: 5px;
    border-style: solid;
    border-color: rgb(248, 15, 15);
    margin: 5px;
    background-color: black;
    border-radius: 50px;
    color: white;
    font-style: italic;
    font-size: 35px;
    text-align: center;
    width: 600px;
    height: 150px;
    text-align: center;
    margin-right: 50px;
    margin-top: 50px;
    padding-top: 20px;
}

.middleForm{
    display: flex;
    justify-content: flex-end;
}

.form{
    border: 5px red dashed;
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    margin-right: 350px;
    color: lightcoral;
    font-size: 20px;
}

.flexOffer{
    border-width: 5px;
    border-color: lightgray;
    background-color: lightseagreen;
    height: 300px;
    width: 300px;
    border-style: ridge;
    border-radius: 50%;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    font-size: 25px;
    padding: 25px;
    margin-top: 240px;
    margin-right: 320px;
}

.menuList{
    display: flex;
    justify-content: center;
}

.flex-menu1{
    border-width: 5px;
    border-style: solid;
    border-color: rgb(248, 15, 15);
    margin: 5px;
    background-color: black;
    border-radius: 50px;
    color: white;
    font-style: italic;
    font-size: 35px;
    text-align: center;
    width: 600px;
    height: 50px;
    text-align: center;
    margin: 50px;
    padding-top: 20px;
}

.flexMenuTop{
    display: flex;
    justify-content: center;
}   

.flexMenuBottom{
    display: flex;
    justify-content: center;
}

.menu{
    border: 5px green solid;  
    border-radius: 25px; 
    text-align: center;
    width: 300px;
    height: 375px;
    font-size: 25px;
    margin: 20px;
    padding: 20px;
}
